@{
    ViewData["Title"] = "About POS";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>POS is a new-age company with new-age ideals. We hold firm to our principles and want to see you buy our stuff...</p>
<p>I mean...</p>
<p>We appreciate our customers?</p>
<p>Except Vince. He actually cares...</p>
<p>Kinda...</p>
<p>...</p>
<p>...</p>

<p>Buy our 😈💩.</p>
