<h2>@ViewData["Title"]</h2>
@foreach (var order in ViewBag.Orders)
{
   <div class="row">
      <p> </p>
      <a href="/Home/Order?orderNumber=@order.OrderNumber"><h2>@order.OrderNumber</h2></a> 
      <p> </p>
   </div>
}

