<h2>@ViewData["Title"]</h2>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-6">
            <label class="pull-right">**First Name</label>
            <p> </p>
         </div>
         <div class="col-md-1">
            <input id="FirstName" type="text" placeholder="First Name" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <label class="pull-right">**Last Name</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="LastName" type="text" placeholder="Last Name" />
            <p> </p>
         </div>
         <p> </p>
      </div>
      <div class="row">
         <div class="col-md-6">
            <label class="pull-right">**Username</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="Username" type="text" placeholder="Username" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <label class="pull-right">**Password</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="Password" type="password" placeholder="Password" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <label class="pull-right">**Confirm Password</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PasswordConfirmation" type="password" placeholder="Confirm Password" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <label class="pull-right">**Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p> </p>
         </div>
         <div class="col-md-2">
            <button id="SubmitRegistration" onclick="Register()">Submit</button>
         </div>
      </div>
   </div>
   <div class="col-md-6 pull-left">
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Street Address</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="StreetAddress" type="text" placeholder="Street Address" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">City</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="City" type="text" placeholder="City" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">State</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="State" type="text" placeholder="State" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Zip Code</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="ZipCode" type="text" placeholder="Zip Code" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Country</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="Country" type="text" placeholder="Country" />
            <p> </p>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <p style="color: #ff0000"> ** Required</p>
</div>