<h2>@ViewData["Title"]</h2>
<div class="row">
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">First Name</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="FirstName" type="text" placeholder="First Name" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Last Name</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="LastName" type="text" placeholder="Last Name" />
            <p> </p>
         </div>
         <p> </p>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Username</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="Username" type="text" placeholder="Username" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Password</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="Password" type="text" placeholder="Password" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Confirm Password</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PasswordConfirmation" type="text" placeholder="Confirm Password" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <p> </p>
         </div>
         <div class="col-md-2">
            <button id="SubmitRegistration" onclick="Register()">Submit</button>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <label class="pull-right">Phone Number</label>
            <p> </p>
         </div>
         <div class="col-md-2">
            <input id="PhoneNumber" type="text" placeholder="Phone Number" />
            <p> </p>
         </div>
      </div>
   </div>
</div>